# Enable restart X ctrl + alt + back and change keymap with both shifts
setxkbmap -option terminate:ctrl_alt_bksp,grp:shifts_toggle es,us
#setxkbmap -option grp:switch,grp:shifts_toggle,grp_led:scroll es,us
xset led named "Scroll Lock"
xset r rate 250 60
/usr/bin/xset b off

xset +fp /usr/share/fonts/local
xset +fp /usr/share/fonts/misc
xset +fp $HOME/.fonts
xset fp rehash

xsetroot -cursor_name left_ptr &

#Auto lower brightness
#xset -q (To check options)
#xset +dpms
#xset dpms 0 0 300

urxvtd -q -o -f

wicd-gtk -t &
volti &

# Auto mounts USB to /media/
udiskie --tray &

conky -c ~/conky.conf | while read -r; do xsetroot -name "$REPLY"; done &
wmname LG3D
fbxkb &

sh ~/.fehbg
